h1 {
  font-size: 3.75em;
  font-weight: 800;
  letter-spacing: -.03em;
  color: #666;
}

h2 {
  font-size: 2em;
  font-family: Exo, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #666;
}

.contact {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.contact-content {
  width: 60%;
  margin: auto;
  text-align: center;
}

#contact-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-list {
  list-style-type: none;
  font-size: 1.5em;
  text-align: left;
  padding: 0px;
}

.contact-list li {
  margin-bottom: .5em;
}

.contact-list li:hover {
  cursor: pointer;
}

.contact-list li:hover .contact-list-icon {
  color: #a661c2;
}

.contact-list li a {
  text-decoration: none;
  border-bottom: 1px dashed #a661c2;
}

.contact-list li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #a661c2;
}

.contact-list-icon {
  margin-right: 1em;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  color: #ccc;
}

.contact-list-icon:hover {
  color: #a661c2;
}

.contact-list-text {
  color: #a661c2;
}

.fa-comment {
  margin-right: 10px;
}

.side-tab-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 8em;
  height: 2em;
  top: 60%;
  right: -5em;
  overflow: hidden;
  -webkit-transition: right .5s ease;
  -moz-transition: right .5s ease;
  -o-transition: right .5s ease;
  transition: right .5s ease;
  background-color: #a661c2;
}

.side-tab-1 i {
  margin: 0;
  margin-left: 1em;
  color: #fff;
}

.side-tab-1 span {
  display: none;
}

.side-tab-1:hover {
  width: 8em;
  right: 0;
  color: #fff;
  cursor: pointer;
}

.side-tab-1:hover span {
  display: flex;
  margin-left: .5em;
  color: #fff;
}


@media only screen and (max-width: 768px) {

  h2 {
    font-size: 1.75em;
  }

  .contact-content {
    width: 90%;
    margin-top: 100px;
  }

  .side-tab-1 {
    top: 90%;
  }

}
